.registration {
    margin-top: 30px;
}

.form-width {
    margin: 0 auto;
    max-width: 100%;
    border: none;
}

.has-float-label {
    position: relative; 
}

.has-float-label label {
    position: absolute;
    left: 0;
    top: 0;
    cursor: text;
    font-size: 75%;
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
    top: -.5em;
    left: 0.75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px; 
}

.has-float-label label::after {
    content: " ";
    display: block;
    position: absolute;
    background: white;
    height: 2px;
    top: 50%;
    left: -.2em;
    right: -.2em;
    z-index: -1; 
}

.has-float-label .form-control::-webkit-input-placeholder {
    opacity: 1;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.has-float-label .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0; 
}

.has-float-label .form-control:placeholder-shown:not(:focus) + label {
    font-size: 16px;
    opacity: .5;
    top: .6em; 
}

.input-group .has-float-label {
    display: table-cell; 
}

.input-group .has-float-label .form-control {
    border-radius: 0.25rem; 
}

.input-group .has-float-label:not(:last-child) .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; 
}

.input-group .has-float-label:not(:first-child) .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -1px; 
}

.custom-form[placeholder] {
    font-size: 14px;
}
.input-group-addon {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #55595c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.btn-size {
    width: 15%;
}

.form-group {
    width: 600px;
    max-width: 100%;
}

.error {
    font-weight: 600;
    color: #007bff;
}

.btn-size-danger {
    width: 20%;
}

.btn {
    padding: 0.575rem .75rem;
}

.reg-account {
    text-decoration: none;
    color: #fff;
}

.reg-account:hover {
    color: #fff;
    text-decoration: none;
}