@import './_header.css';
@import './_cards.css';
@import './_filter.css';
@import './_footer.css';
@import './_registration.css';
@import './_intropage.css';
@import './_profile.css';
@import './_cart.css';

li {
    list-style: none;
    cursor: pointer;
}

body {
    font-family: "Open Sans", sans-serif;
}

.sorts-item {
    text-decoration: none;
    color: #343a40;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 600;
}

.sorts-item:hover {
    text-decoration: none;
}
main {
    min-height: calc(100vh - 80px);
}

.not-found {
    font-size: 18px;
    font-weight: 600;
}